go 1.18

use (
	./circuitbreaker
	./dependencyinjection/sarulabs-di
	./functional/fuego
	./integration/github
	./integration/grpc
	./integration/tilt
	./integration/twitter
	./testing/testcontainers-go
	./testing/testify
)
